<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OOPS!</title>
    <style>
        body{
            background-color: lightsalmon;
            text-align: center;
            vertical-align:middle;
        }
    </style>
</head>
<body>
    <h3>Error 404</h3>
    <h1>The page you requested doesn't exist.</h1>
</body>
</html>