<footer class="container-fluid py-4 bg-secondary mt-4">
    <div class="row text-white mx-3 mx-lg-5">
        <div>&copy; 2021 Trackit, Inc. &middot; <a class="text-white" href="#">Privacy</a> &middot; <a class="text-white" href="#">Terms</a></div>
        <div class="ml-auto"><a class="text-white" href="#">Back to top</a></div>
    </div>
</footer>