<header>
    <nav class="navbar navbar-expand-md navbar-light shadow-lg fixed-top bg-light">
        <div class="container-fluid mx-md-3 mx-lg-4">
            <a class="navbar-brand" href="/"><img src="/images/t.jpg" alt="" width="7%" height=""> Trackit</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <!-- <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li> -->
                </ul>
            </div>
            <a class="btn btn-primary" href="/users/login" id="sign-in" type="submit"> <i class="fas fa-sign-in-alt"></i> Sign In</a>
            <button class="btn btn-primary btn-sm d-none" id="sign-out">Sign Out <i class="fas fa-sign-in-alt"></i></a>
        </div>
    </nav>
</header>