<style>
    body{
        background-color: bisque;
    }
</style>

<h1>Profile Page</h1>

<!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-app.js" defer></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-auth.js" defer></script>
<script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-firestore.js" defer></script>
<script src="/js/profile.js"></script>