<!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-app.js" ></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-auth.js" ></script>
<script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-firestore.js" ></script>
<style>
    body{
        background-color: bisque;
    }
</style>

<h1>Profile Page</h1>

<script src="/js/google_sign_in.js"></script>
<script src="/js/index.js"></script>